GNUCASH_DIR=/gnucash
GNUCASH_FILE=demo-budget.gnucash
NUM_TRANSACTIONS=1000
SCALEWAY_S3_BUCKET=my-unique-bucket
SCALEWAY_ACCESS_KEY_ID=ASDFKJLASDFKLASFLK
SCALEWAY_SECRET_ACCESS_KEY=super-real-secret-access-key-here
