[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.2"
flask-bootstrap = "==3.3.7.1"
flask-wtf = "==1.0.0"
gunicorn = "==20.1.0"
ipython = "*"
ipython-genutils = "*"
piecash = "==1.2.0"
PyYAML = "==6.0"
voluptuous = "*"

[dev-packages]

[requires]
python_version = "3.9"
