@media only screen
    and (min-width: 1000px) {
    .table {
      margin: auto;
      max-width: 50%;
    }
    h1 {
      margin: auto;
      max-width: 50%;
      text-align: center;
    }
}

td.gcbal {
  text-align: right;
}

body, html {
  background-repeat: no-repeat;
}

a.acct-link {
  text-decoration: none;
  color: #dcdcdc;
}

a.acct-link:hover {
  color: #f57d4a;
  text-decoration: underline;
}
