{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} GnuCash Helper  {% endblock %}
{% block scripts %}
  {{ super() }}
  <script type="text/javascript">
    $(document).ready(function() {
      $("#submit").click(function() {
        // disable button
        $(this).prop("disabled", true);
        // add spinner to button
        $(this).html(
          `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
        );
      });
    });
  </script>
{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Enter a Transaction</h1>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
