@media only screen 
    and (width : 414px) 
    and (height : 736px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .table {
	  margin: auto;
	  max-width: 100%;
	}
}

.table {
  margin: auto;
  max-width: 50%;
}

td.gcbal {
  text-align: right;
}

body, html {
  background-repeat: no-repeat;
}
