body, html {
  background: rgb(134,62,255);
  background: linear-gradient(90deg, rgba(134,62,255,1) 0%, rgba(255,255,255,1) 52%); 
}

.alert-success {
  background-color: #18ecff;
}

tr.evenrow {
  background-color: #ffffff;
}

tr.oddrow {
  background-color: #dddddd;
}
