* {
  color: #dcdcdc;
}

html, body {
  background-color: #252525;
}

.form-control {
  color: #dcdcdc;
  background-color: #505050;
}

.btn-default {
  font-weight: bold;
  background-color: #f57d4a;
  border: 1px solid black;
}

.btn-default:hover {
  font-weight: bold;
  background-color: #ea4f36;
  border: 1px solid black;
}

#easy-btn-food {
  width: 20%;
  height: 20%;
  padding: 10px;
  border: 1 px solid black;
  display: inline;
}

th {
  background-color: #cd683d;
  color: black;
}

tr.evenrow {
  background-color: #343434;
}

tr.oddrow {
  background-color: #505050;
}

.logo {
  float: left;
  padding-left: 10px;
}

.navbar-left {
  text-decoration: none;
}
