{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
{% endblock %}

{% block title %} Easy Button Manager {% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='accounts.css')  }}">
{% endblock %}
{% block page_content %}
<div class="page-header">
  <h1>Easy Button Manager</h1>
</div>
<h2>Add an Easy Button</h2>
{{ wtf.quick_form(add_form) }}
<emoji-picker></emoji-picker>
<script type="module">
  import 'https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js'
  import insertText from 'https://cdn.jsdelivr.net/npm/insert-text-at-cursor@0.3.0/index.js'

  document.querySelector('emoji-picker').addEventListener('emoji-click', e => {
    insertText(document.getElementById('emoji'), e.detail.unicode)
  })
</script>
<div>
  <h2>Delete an Easy Button</h2>
</div>
{{ wtf.quick_form(del_form) }}
{% endblock %}
