{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}


{% block title %} gnucash-helper  {% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='entry.css')  }}">
{% endblock %}
{% block page_content %}
<div class="page-header">
  <h1>Enter a Transaction</h1>
</div>
<h4>Quick Transactions</h4>
<input class="btn btn-default easy-btn" id="easy-btn-food" name="easy-btn-food" type="submit" value="🍕" title="Food">
<input class="btn btn-default easy-btn" id="easy-btn-fun" name="easy-btn-fun" type="submit" value="🎡" title="Fun">
<input class="btn btn-default easy-btn" id="easy-btn-cats" name="easy-btn-cats" type="submit" value="😾" title="Cat Food">
<input class="btn btn-default easy-btn" id="easy-btn-misc" name="easy-btn-misc" type="submit" value="🤷" title="Misc.">
{{ wtf.quick_form(form) }}
<script src="{{ url_for('static', filename='easy-buttons.js') }}"></script>
<script type=text/javascript>var easyButtons = getEasyButtons({{ easy_btns|tojson  }})</script>
{% endblock %}
