{% extends "base.html" %}

{% block title %}Transaction History{% endblock %}
{% block page_content %}
<div class="page-header">
  <h1>Transaction History</h1>
  <h2>Last {{ n }} transactions</h2>
</div>
<div>
  <table class="table">
    <thead>
      <th>Source Account</th>
      <th>Destination Account</th>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
    </thead>
    <tbody>
      {% for trans in transactions %}
      <tr>
	<td>{{ trans['source'] }}</td>
	<td>{{ trans['dest'] }}</td>
	<td>{{ trans['date'] }}</td>
	<td>{{ trans['description'] }}</td>
	<td>{{ trans['amount'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
